
<div
	x-data="cartDrawer"
	x-cloak
	@open-menu.window="open = $event.detail.open"
	@toggle-cart-drawer.window="open =! open"
	@keydown.window.tab="usedKeyboard = true"
	@keydown.window.escape="open = false">
	<div
		x-show.transition.opacity.duration.250="open"
		@click="open = false"
		class="fixed inset-0 bg-wu-blue opacity-75"></div>
	<div
		class="fixed transition duration-150 right-0 top-0 transform w-full max-w-lg h-screen bg-wu-brown text-wu-blue overflow-hidden"
		:class="{'translate-x-full': !open}">

		<button
			@click="open = false"
			x-ref="closeButton"
			:class="{'focus:outline-none': !usedKeyboard}"
			class="fixed top-0 right-0 mr-4 mt-2 z-50">
			<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
		</button>
		<div class="p-16 px-6 absolute top-0 h-full w-full overflow-y-scroll">

        <div class="font-serif flex justify-between">
			<h1>Your Cart</h1>
			<button
			@click="open = false"
			x-ref="closeButton"
			:class="{'focus:outline-none': !usedKeyboard}"><w-u class="transform rotate-45 inline-block leading-none text-2xl">&#65291;</w-u></button>
		</div>

		<div x-cloak x-show="$store.Cart.items.length == 0 && $store.Cart.isLoading == false" class="w-full h-full grid place-items-center text-4xl">
			<button @click="open = false">Continue shopping</button>
		</div>



		<template x-for="line in $store.Cart.items">
			<div class="flex flex-auto justify-between gap-2 border-b border-dashed border-wu-nav py-6">
				<div class="">
					<img :src="line.image.replace(/\.jpg/,'_500x.jpg')" class="w-40 h-60 object-cover">
				</div>
				<div class="flex flex-col justify-between">
					<h1 x-text="line.title"></h1>
					<div>
						<button @click="$store.Cart.removeItem(line.key)" class="text-wu-nav text-wu-red px-4 border border-current rounded-2xl hover:text-wu-red">Remove</button>
						<div class="inline-flex px-2 border border-wu-nav rounded-2xl ">
							<button @click="$store.Cart.setQuantity(line.key,line.quantity - 1)" class="pr-2">&#65293;</button>
							<span x-text="line.quantity" class="px-2"></span>
							<button @click="$store.Cart.setQuantity(line.key,line.quantity + 1)" class="pl-2">&#65291;</button>
						</div>
					</div>
				</div>

				<div x-text="`$${line.price/100}`" class="self-end"></div>
			</div>
		</template>
			<div x-cloak x-data x-show="$store.Cart.items.length > 0">
				
				<div class="subtotal flex justify-between pt-4">
					<div class="font-serif ">Subtotal</div>
					<div x-text="`$${$store.Cart.state.items_subtotal_price/100}`"></div>
				</div>
				<div class="tax flex justify-between">
					<div class="font-serif ">Tax</div>
					<div>Calculated at next step</div>
				</div>
				<div class="shipping flex justify-between">
					<div class="font-serif ">Shipping</div>
					<div>Calculated at next step</div>
				</div>

				<div class="flex justify-between pt-8">
					<form action="/cart" method="post" class="w-full">
					<button class="w-full p-2 text-wu-brown font-light bg-wu-nav rounded-3xl" type="submit" name="checkout">
						Checkout
					</button>
					</form>
				</div>
			</div>

		</div>


		<div x-show="$store.Cart.isLoading" class="fixed inset-0 bg-wu-brown opacity-75 flex justify-center items-center">
			<div :class="{'animate-spin':open}" class="h-8 w-8 rounded-full border-b-2 border-wu-nav"></div>
		</div>

	</div>

</div>
