
@font-face {
    font-family: 'gt-alpina';
    src: url('GT-Alpina-Typewriter-Regular.woff2') format('woff2'),
         url('GT-Alpina-Typewriter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'erbar';
    src: url('erbar.woff2') format('woff2'),
         url('erbar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
